[Unit]
Description=Random wallpaper changer for swww
After=niri.service swww.service

[Service]
ExecStart=/home/shaogu/.local/bin/random_bg.sh
Type=oneshot
