@import "mocha.css";

* {
  font-family: Maple Mono NF CN;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @sky;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#network,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#bluetooth,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 0.5rem;
  margin: 3px 0;
}

#workspaces,
#network,
#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#bluetooth,
#custom-lock,
#custom-power {
  border-top: 2px solid @maroon;
  border-bottom: 2px solid @maroon;
}

#workspaces,
#custom-music {
  border-left: 2px solid @maroon;
  border-right: 2px solid @maroon;
}

#clock {
  color: @rosewater;
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  border-right: 2px solid @maroon;
}

#tray {
  /* margin-right: 1rem; */
  border-radius: 1rem 0px 0px 1rem;
  border-left: 2px solid @maroon;
}

#backlight {
  color: @yellow;
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  border-right: 2px solid @maroon;
}

#network {
  color: @teal;
  border-radius: 1rem 0px 0px 1rem;
  border-left: 2px solid @maroon;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#pulseaudio {
  color: @maroon;
}

#pluseaudio, #battery, #bluetooth #backlight {
  border-radius: 0;
}

#bluetooth {
  color: @blue;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}


#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 0px 1rem 1rem 0px;
    color: @red;
}

