@import "mocha.css";

* {
    border-radius: 0;
    border: none;
    background-color: transparent;
    box-shadow: none;
    font-family: "Maple Mono NF CN";
    font-size: 16px;
}

#bar {
    margin-top: 5px;
}

popover, popover contents, calendar {
    /* background-color: @base; /\* 原本 var(--color-dark-primary) *\/ */
    background-color: @surface0;
    background: transparent;
}

button {
    background: @surface0;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

button:hover, button:active {
    /* background-color: @surface1; */
    background-color: rgba(0, 0, 0, 0.2);
}

.popup {
    background-color: rgba(49, 50, 68, 0.5);
    margin: 1em;
    padding: 0.5em;
    border-radius: 1em;
    color: @maroon;
}

.popup-music .controls > * {
    background: rgba(49, 50, 68, 0.5);
}

.music {
    border: 2px solid @teal;
    margin-left: 1em;
}

.notifications,
.volume,
.battery,
.music,
.tray,
.clock {
    /* background: @surface0; */
    /* background-color: @surface0; */
    background: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
}

.workspaces {
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 1em;
    background-color: transparent;
    background: transparent;
}
.workspaces .item + * {
    margin: 0 0.5em;
}

.workspaces .item {
    border-radius: 1em;
    /* border: 2px solid @surface0; */
    background: transparent;
    color: @text;
    margin: 0 0.5em;
}

.workspaces .item.focused {
    margin: 0 0.5em;
    color: @sky;
}

.workspaces .item:hover {
    /* border: 2px solid @teal; */
}

.music {
    border-radius: 1em;
    color: @sapphire;
}

.volume,
.battery,
.tray,
.clock {
    border-top: 2px solid @teal;
    border-bottom: 2px solid @teal;
}

.notifications .button {
    padding-right: 1.2em;
    border-top: 2px solid @teal;
    border-bottom: 2px solid @teal;
    color: @text;
    background: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
}

.notifications .count {
    font-size: 0.9em;
    color: @red;
    background: transparent;
}

.volume {
    color: @text;
}

.battery {
    color: @green;
}

.tray {
    padding: 0 0.5em;
    border-radius: 1em 0 0 1em;
    border-left: 2px solid @teal;
}

.clock {
    font-weight: bold;
    margin-right: 1em;
    border-radius: 0 1em 1em 0;
    color: @text;
    border-right: 2px solid @teal;
}

